@charset "utf-8";


.links-left{width: auto}
.links-left li{margin-right: 24px}
.links-right{position: static;margin-top: 15px}

/* teaser */
.teaser #hd{padding:35px}
.teaser #hd img{height:24px}
.teaser #ft{position:static}
#teaser{height: auto; min-height:calc(100vh - 166px);}
#teaser section{width:50vw;height:54vw;}
